Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write"
}

refactor(Form): change the attribute type=array to array (#406)
  demo/Form/array.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/Form.ts
  src/Form/index.test.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Tabs): name attribute is not added when using beforeAdd
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

fix(Tabs): name attribute is not added when using beforeAdd (#407)
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

Releases 1.2.4
  CHANGELOG.md
  package.json
Due: prettier --write

Releases 1.2.4 (#408)
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Menu): support defining the group of menu
  src/Menu/Menu.ts
  src/types/router.ts
Due: prettier --write --no-verify, eslint --fix

test(Menu): add test
  src/Menu/index.test.ts
Due: prettier --write --no-verify, eslint --fix

demo(Menu): add demo
  demo/Layout/group.vue
  demo/Menu/group.vue
Due: prettier --write --no-verify, eslint --fix

docs(Menu): updata
  docs/docs/en-US/components/Layout.md
  docs/docs/en-US/components/Menu.md
  docs/docs/zh-CN/components/Layout.md
  docs/docs/zh-CN/components/Menu.md
Due: prettier --write

feat(Menu): support defining the group of menu (#409)
  demo/Layout/group.vue
  demo/Menu/group.vue
  docs/docs/en-US/components/Layout.md
  docs/docs/en-US/components/Menu.md
  docs/docs/zh-CN/components/Layout.md
  docs/docs/zh-CN/components/Menu.md
  src/Menu/Menu.ts
  src/Menu/index.test.ts
  src/types/router.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Checkbox|Radio|Select): support nested value for config
  src/Checkbox/Checkbox.ts
  src/Radio/Radio.ts
  src/Select/Select.ts
  src/TreeSelect/TreeSelect.ts
  src/TreeSelect/useTreeSelect.ts
  src/composables/data.ts
Due: prettier --write --no-verify, eslint --fix

test: add test
  src/Checkbox/index.test.ts
  src/CheckboxButton/index.test.ts
  src/Radio/index.test.ts
  src/RadioButton/index.test.ts
  src/Select/index.test.ts
  src/TreeSelect/index.test.ts
  src/__mocks__/index.ts
Due: prettier --write --no-verify, eslint --fix

feat(Checkbox|Radio|Select): support nested value for config (#410)
  src/Checkbox/Checkbox.ts
  src/Checkbox/index.test.ts
  src/CheckboxButton/index.test.ts
  src/Radio/Radio.ts
  src/Radio/index.test.ts
  src/RadioButton/index.test.ts
  src/Select/Select.ts
  src/Select/index.test.ts
  src/TreeSelect/TreeSelect.ts
  src/TreeSelect/index.test.ts
  src/TreeSelect/useTreeSelect.ts
  src/__mocks__/index.ts
  src/composables/data.ts
Due: prettier --write --no-verify, eslint --fix

build: change join to resolve
  build/utils.ts
Due: prettier --write --no-verify, eslint --fix

build: change join to resolve (#412)
  build/utils.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): support TabsForm generation through columns
  src/Form/ArrayForm.ts
  src/Form/FormItem.ts
  src/Form/FormList.ts
  src/Form/GroupForm.ts
  src/Form/TabsForm.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix

test(Form): add test
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix

demo: add demo
  demo/Form/rules.vue
  demo/Form/tabs.vue
Due: prettier --write --no-verify, eslint --fix

docs(Form): updata
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
Due: prettier --write

feat(Form): generation the TabsForm based on columns (#413)
  demo/Form/rules.vue
  demo/Form/tabs.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/ArrayForm.ts
  src/Form/FormItem.ts
  src/Form/FormList.ts
  src/Form/GroupForm.ts
  src/Form/TabsForm.ts
  src/Form/index.test.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): generation the CollapseForm based on columns
  src/Form/CollapseForm.ts
  src/Form/FormList.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/styles/form.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

demo(Form): add demo
  demo/Form/collapse.vue
  src/styles/form.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): generation the CollapseForm based on columns (#414)
  demo/Form/collapse.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/CollapseForm.ts
  src/Form/FormList.ts
  src/Form/index.test.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/styles/form.css
  src/styles/form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): generation the StepsForm based on columns
  src/Form/Form.ts
  src/Form/FormList.ts
  src/Form/StepsForm.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/styles/form.css
  src/styles/form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

demo: add demo
  demo/Form/steps.vue
  demo/I18n/base.vue
Due: prettier --write --no-verify, eslint --fix

docs: updata
  docs/docs/en-US/components/Form.md
  docs/docs/en-US/guide/i18n.md
  docs/docs/zh-CN/components/Form.md
  docs/docs/zh-CN/guide/i18n.md
Due: prettier --write

test(Form): add test
  src/Form/StepsForm.ts
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): generation the StepsForm based on columns (#415)
  demo/Form/steps.vue
  demo/I18n/base.vue
  docs/docs/en-US/components/Form.md
  docs/docs/en-US/guide/i18n.md
  docs/docs/zh-CN/components/Form.md
  docs/docs/zh-CN/guide/i18n.md
  src/Form/Form.ts
  src/Form/FormList.ts
  src/Form/StepsForm.ts
  src/Form/index.test.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/styles/form.css
  src/styles/form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(Form): optimize code
  src/Form/FormList.ts
  src/Form/type.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix

feat: add function withPoint
  src/Form/ArrayForm.ts
  src/Form/FormList.ts
  src/utils/util.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Form): optimize code (#416)
  src/Form/ArrayForm.ts
  src/Form/FormList.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/utils/util.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): support bind attributes to group forms
  src/Form/CollapseForm.ts
  src/Form/FormItem.ts
  src/Form/GroupForm.ts
  src/Form/StepsForm.ts
  src/Form/TabsForm.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/Form/utils.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): support bind attributes to group forms (#417)
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/CollapseForm.ts
  src/Form/FormItem.ts
  src/Form/GroupForm.ts
  src/Form/StepsForm.ts
  src/Form/TabsForm.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/Form/utils.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Crud): sync the group form changes
  src/Crud/Crud.ts
  src/Crud/type.ts
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix

docs(Crud): updata
  demo/I18n/base.vue
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/guide/i18n.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/guide/i18n.md
  docs/src/lang/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Crud): sync the group form changes (#418)
  demo/I18n/base.vue
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/guide/i18n.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/guide/i18n.md
  docs/src/lang/index.ts
  src/Crud/Crud.ts
  src/Crud/type.ts
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write
