Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

feat(Tabs): add query and hash when jumping
  demo/Tabs/slots.vue
  docs/en-US/components/Tabs.md
  docs/zh-CN/components/Tabs.md
  src/Tabs/Tabs.ts
  src/Tabs/index.test.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Tabs): add query and hash when jumping (#546)
  demo/Tabs/slots.vue
  docs/en-US/components/Tabs.md
  docs/zh-CN/components/Tabs.md
  src/Tabs/Tabs.ts
  src/Tabs/index.test.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

type(Tabs): use RouteLocationNormalizedLoaded replace RouteLocationNormalizedLoadedGeneric
  src/Tabs/Tabs.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

type(Tabs): use RouteLocationNormalizedLoaded replace RouteLocationNormalizedLoadedGeneric (#547)
  src/Tabs/Tabs.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

docs: optimize multi-language switching logic
  docs/en-US/components/Tabs.md
  docs/src/components/NavHeader.vue
  docs/src/layout/Layout.vue
  docs/zh-CN/components/Tabs.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: optimize multi-language switching logic (#548)
  docs/en-US/components/Tabs.md
  docs/src/components/NavHeader.vue
  docs/src/layout/Layout.vue
  docs/zh-CN/components/Tabs.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: releases v1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: releases v1.4.0 (#549)
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Form): support binding component instances through ref
  demo/Form/ref.vue
  docs/en-US/components/Form.md
  docs/zh-CN/components/Form.md
  src/Form/FormComponent.ts
  src/Form/index.test.ts
  src/Form/type.ts
  src/types/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): support binding component instances through ref (#550)
  demo/Form/ref.vue
  docs/en-US/components/Form.md
  docs/zh-CN/components/Form.md
  src/Form/FormComponent.ts
  src/Form/index.test.ts
  src/Form/type.ts
  src/types/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

pref(Form): optimize ProFormComponent
  src/Form/FormComponent.ts
Due: prettier --write --no-verify, eslint --fix

pref(Form): optimize ProFormComponent (#551)
  src/Form/FormComponent.ts
Due: prettier --write --no-verify, eslint --fix

chore(Form): add aria-label for ArrayForm
  src/Form/ArrayForm.ts
  src/locale/en.ts
  src/locale/zh-cn.ts
Due: prettier --write --no-verify, eslint --fix

chore(Form): add aria-label for ArrayForm (#552)
  src/Form/ArrayForm.ts
  src/locale/en.ts
  src/locale/zh-cn.ts
Due: prettier --write --no-verify, eslint --fix

chore(Form): simplify expose related code
  docs/en-US/components/Crud.md
  docs/zh-CN/components/Crud.md
  src/Crud/Crud.ts
  src/Crud/index.test.ts
  src/Crud/type.ts
  src/Form/Form.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/Search/Search.ts
  src/Search/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Form): simplify expose related code (#553)
  docs/en-US/components/Crud.md
  docs/zh-CN/components/Crud.md
  src/Crud/Crud.ts
  src/Crud/index.test.ts
  src/Crud/type.ts
  src/Form/Form.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/Search/Search.ts
  src/Search/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Table): the load triggered multiple times when page-size is changed
  src/Crud/Crud.ts
  src/Table/Table.ts
  src/Table/useTable.ts
Due: prettier --write --no-verify, eslint --fix

fix(Table): the load triggered multiple times when page-size is changed (#554)
  src/Crud/Crud.ts
  src/Table/Table.ts
  src/Table/useTable.ts
Due: prettier --write --no-verify, eslint --fix

fix(Form): optimize ref bind for ProFormComponent
  src/Form/FormComponent.ts
  src/Form/FormItem.ts
  src/Form/index.test.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix

fix(Form): optimize ref bind for ProFormComponent (#555)
  src/Form/FormComponent.ts
  src/Form/FormItem.ts
  src/Form/index.test.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix

chore(Table): simplify expose related code
  docs/en-US/components/Crud.md
  docs/en-US/components/Table.md
  docs/zh-CN/components/Crud.md
  docs/zh-CN/components/Table.md
  eslint.config.js
  src/Crud/Crud.ts
  src/Crud/useCrud.ts
  src/Table/Table.ts
  src/Table/index.test.ts
  src/Table/useTable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Table): simplify expose related code (#556)
  docs/en-US/components/Crud.md
  docs/en-US/components/Table.md
  docs/zh-CN/components/Crud.md
  docs/zh-CN/components/Table.md
  eslint.config.js
  src/Crud/Crud.ts
  src/Crud/useCrud.ts
  src/Table/Table.ts
  src/Table/index.test.ts
  src/Table/useTable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Layout): a11y enhancements for fold button
  src/Layout/Layout.ts
  src/locale/en.ts
  src/locale/zh-cn.ts
  src/styles/layout.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Layout): a11y enhancements for fold button (#557)
  src/Layout/Layout.ts
  src/locale/en.ts
  src/locale/zh-cn.ts
  src/styles/layout.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Table): pagination are not displayed when using pageCount
  src/Table/Table.ts
  src/Table/index.test.ts
Due: prettier --write --no-verify, eslint --fix

fix(Table): pagination are not displayed when using pageCount (#558)
  src/Table/Table.ts
  src/Table/index.test.ts
Due: prettier --write --no-verify, eslint --fix

docs: add theme switching animation
  docs/src/components/NavHeader.vue
  docs/src/lang/index.ts
Due: prettier --write --no-verify, eslint --fix

docs: add theme switching animation (#559)
  docs/src/components/NavHeader.vue
  docs/src/lang/index.ts
Due: prettier --write --no-verify, eslint --fix

chore: releases v1.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: releases v1.4.1 (#560)
  CHANGELOG.md
  package.json
Due: prettier --write

chore: up dependencies
  docs/src/main.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: up vite dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add @eslint/js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add @eslint/js
  pnpm-lock.yaml
Due: none

chore: up vite dependencies (#567)
  package.json
  pnpm-lock.yaml
Due: prettier --write

type(Form): autocomplete names from global components
  src/Form/type.ts
Due: prettier --write --no-verify, eslint --fix

type(Form): autocomplete names from global components (#570)
  src/Form/type.ts
Due: prettier --write --no-verify, eslint --fix

type: [useLocale] autocomplete locale field keys
  src/composables/locale.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
