Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write"
}

fix(Descriptions): avoid render header when without slot
  src/Descriptions/Descriptions.ts
  src/Descriptions/index.test.ts
Due: prettier --write --no-verify, eslint --fix

fix(Descriptions): avoid render header when without slot (#467)
  src/Descriptions/Descriptions.ts
  src/Descriptions/index.test.ts
Due: prettier --write --no-verify, eslint --fix

chore: optimize CSS variables
  src/styles/card.css
  src/styles/crud.css
  src/styles/filter-routes.css
  src/styles/table.css
Due: prettier --write

chore: optimize CSS variables (#468)
  src/styles/card.css
  src/styles/crud.css
  src/styles/filter-routes.css
  src/styles/table.css
Due: prettier --write

feat(Layout): add collapse-button slot
  demo/Layout/slots.vue
  docs/en-US/components/Layout.md
  docs/src/main.ts
  docs/zh-CN/components/Layout.md
  src/Layout/Layout.ts
  src/Layout/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Layout): add collapse-button slot (#472)
  demo/Layout/slots.vue
  docs/en-US/components/Layout.md
  docs/src/main.ts
  docs/zh-CN/components/Layout.md
  src/Layout/Layout.ts
  src/Layout/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): support custom v-model arguments
  demo/Form/modelKey.vue
  docs/en-US/components/Form.md
  docs/zh-CN/components/Form.md
  src/Form/FormComponent.ts
  src/Form/FormItem.ts
  src/Form/props.ts
  src/Form/type.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(Form): add test for modelKey
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): support custom v-model arguments (#473)
  demo/Form/modelKey.vue
  docs/en-US/components/Form.md
  docs/zh-CN/components/Form.md
  src/Form/FormComponent.ts
  src/Form/FormItem.ts
  src/Form/index.test.ts
  src/Form/props.ts
  src/Form/type.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Tabs): add label slot
  src/Tabs/Tabs.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

test(Tabs): add test
  src/Tabs/index.test.ts
Due: prettier --write --no-verify, eslint --fix

docs(Tabs): add demo
  demo/Tabs/slots.vue
  docs/en-US/components/Tabs.md
  docs/zh-CN/components/Tabs.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Tabs): add label slot (#474)
  demo/Tabs/slots.vue
  docs/en-US/components/Tabs.md
  docs/zh-CN/components/Tabs.md
  src/Tabs/Tabs.ts
  src/Tabs/index.test.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: releases v1.2.11
  CHANGELOG.md
  package.json
Due: prettier --write

chore: releases v1.2.11 (#475)
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/__mocks__/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update dependencies (#476)
  package.json
  src/__mocks__/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Crud): add some slots
  src/Crud/Crud.ts
  src/Crud/index.test.ts
Due: prettier --write --no-verify, eslint --fix

demo(Crud): add demo
  demo/Crud/slots-dialog.vue
  demo/Crud/slots-form.vue
  demo/Crud/slots-table.vue
  docs/en-US/components/Crud.md
  docs/src/main.ts
  docs/zh-CN/components/Crud.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

test: update
  src/Crud/index.test.ts
Due: prettier --write --no-verify, eslint --fix

feat(Crud): add some slots (#478)
  demo/Crud/slots-dialog.vue
  demo/Crud/slots-form.vue
  demo/Crud/slots-table.vue
  docs/en-US/components/Crud.md
  docs/src/main.ts
  docs/zh-CN/components/Crud.md
  src/Crud/Crud.ts
  src/Crud/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Crud): add expose function openDialog and closeDialog
  demo/Crud/dialog-open.vue
  docs/en-US/components/Crud.md
  docs/zh-CN/components/Crud.md
  src/Crud/Crud.ts
  src/Crud/index.test.ts
  src/Crud/type.ts
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Crud): add expose function openDialog and closeDialog (#479)
  demo/Crud/dialog-open.vue
  docs/en-US/components/Crud.md
  docs/zh-CN/components/Crud.md
  src/Crud/Crud.ts
  src/Crud/index.test.ts
  src/Crud/type.ts
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: releases v1.2.12
  CHANGELOG.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: releases v1.2.12 (#480)
  CHANGELOG.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: releases v1.2.12
  package.json
Due: prettier --write

chore: releases v1.2.12 (#481)
  package.json
Due: prettier --write

chore: change the type to module
  .eslintrc.cjs
  build/build-lib.ts
  build/build-styles.ts
  build/plugin/demo.ts
  build/prerender.ts
  build/utils.ts
  docs/src/entry-server.ts
  docs/src/lang/index.ts
  docs/src/main.ts
  package.json
  src/InputTag/useInputTag.ts
  src/utils/index.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: change the type to module (#496)
  .eslintrc.cjs
  build/build-lib.ts
  build/build-styles.ts
  build/plugin/demo.ts
  build/prerender.ts
  build/utils.ts
  docs/src/entry-server.ts
  docs/src/lang/index.ts
  docs/src/main.ts
  package.json
  src/InputTag/useInputTag.ts
  src/utils/index.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

workflows: update
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-build.yml
  .github/workflows/test.yml
Due: none

chore: cancel ignoring pnpm-lock.yaml
  .gitignore
  pnpm-lock.yaml
Due: none

chore: update
  .github/workflows/test-build.yml
Due: none

workflows: update (#497)
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-build.yml
  .github/workflows/test.yml
  .gitignore
  pnpm-lock.yaml
Due: none

feat: sync label prop to value
  package.json
  pnpm-lock.yaml
  src/Radio/Radio.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

test: fix test error
  package.json
  pnpm-lock.yaml
  src/Checkbox/index.test.ts
  src/CheckboxButton/index.test.ts
  src/Crud/index.test.ts
  src/Form/index.test.ts
  src/Layout/index.test.ts
  src/Menu/index.test.ts
  src/Radio/index.test.ts
  src/RadioButton/index.test.ts
  src/Select/index.test.ts
  src/Table/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write
