Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

docs: sync props change from ElementPlus (#350)
  docs/docs/en-US/components/Checkbox.md
  docs/docs/en-US/components/InputTag.md
  docs/docs/en-US/components/Radio.md
  docs/docs/zh-CN/components/Checkbox.md
  docs/docs/zh-CN/components/InputTag.md
  docs/docs/zh-CN/components/Radio.md
Due: prettier --write

refacto(Table): modify the name of the slot
  demo/Table/slots.vue
  docs/docs/en-US/components/Table.md
  docs/docs/zh-CN/components/Table.md
  src/Table/TableItem.ts
  src/Table/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Table): modify the name of the slot (#351)
  demo/Table/slots.vue
  docs/docs/en-US/components/Table.md
  docs/docs/zh-CN/components/Table.md
  src/Table/TableItem.ts
  src/Table/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Descriptions): modify the name of the slot
  src/Descriptions/Descriptions.ts
  src/Descriptions/index.test.ts
Due: prettier --write --no-verify, eslint --fix

docs(Descriptions): update
  demo/Descriptions/slots.vue
  docs/docs/en-US/components/Descriptions.md
  docs/docs/zh-CN/components/Descriptions.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Descriptions): modify the name of the slot (#352)
  demo/Descriptions/slots.vue
  docs/docs/en-US/components/Descriptions.md
  docs/docs/zh-CN/components/Descriptions.md
  src/Descriptions/Descriptions.ts
  src/Descriptions/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Crud): sync the name change of the slot
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix

docs: update
  docs/docs/en-US/components/Form.md
  docs/docs/en-US/components/Table.md
  docs/docs/zh-CN/components/Form.md
  docs/docs/zh-CN/components/Table.md
Due: prettier --write

refacto(Crud): sync the name change of the slot (#353)
  docs/docs/en-US/components/Form.md
  docs/docs/en-US/components/Table.md
  docs/docs/zh-CN/components/Form.md
  docs/docs/zh-CN/components/Table.md
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

type: fix error
  build/build-helper.ts
  docs/src/composables/stackBlitz.ts
Due: prettier --write --no-verify, eslint --fix

build: remove base attribute of vite
  package.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

build: remove base attribute of Vite (#354)
  build/build-helper.ts
  docs/src/composables/stackBlitz.ts
  package.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update Changelog
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update Changelog (#356)
  CHANGELOG.md
  package.json
Due: prettier --write

docs: add external link icon
  build/plugin/external-link-icon.ts
  docs/src/components/IconExternalLink.vue
  docs/src/main.ts
  docs/src/styles/markdown.css
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: add external link icon (#358)
  build/plugin/external-link-icon.ts
  docs/src/components/IconExternalLink.vue
  docs/src/main.ts
  docs/src/styles/markdown.css
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Tabs): add keepHiddenRoute attribute
  src/Tabs/Tabs.ts
  src/Tabs/props.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

feat(Tabs): add keepHiddenRoute attribute (#360)
  src/Tabs/Tabs.ts
  src/Tabs/props.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

feat(Tabs): add beforeAdd attribute
  src/Tabs/props.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

fix(Tabs): the before-leave not work
  src/Tabs/Tabs.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

dome(Tabs): add demo
  demo/Tabs/before-add.vue
  demo/Tabs/before-leave.vue
  demo/Tabs/keep-hidden-route.vue
Due: prettier --write --no-verify, eslint --fix

docs(Tabs): update
  docs/docs/en-US/components/Tabs.md
  docs/docs/zh-CN/components/Tabs.md
  docs/src/views/Form.vue
  docs/src/views/Table.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Tabs): add beforeAdd attribute (#361)
  demo/Tabs/before-add.vue
  demo/Tabs/before-leave.vue
  demo/Tabs/keep-hidden-route.vue
  docs/docs/en-US/components/Tabs.md
  docs/docs/zh-CN/components/Tabs.md
  docs/src/views/Form.vue
  docs/src/views/Table.vue
  src/Tabs/Tabs.ts
  src/Tabs/props.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Tabs): optimized style
  src/styles/tabs.css
Due: prettier --write

docs(Tabs): update
  demo/Tabs/type.vue
  docs/docs/en-US/components/Tabs.md
  docs/docs/zh-CN/components/Tabs.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Releases 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Menu): path error when there is only one route in children
  src/Menu/Menu.ts
Due: prettier --write --no-verify, eslint --fix

fix(Menu): path error when there is only one route in children (#365)
  src/Menu/Menu.ts
Due: prettier --write --no-verify, eslint --fix

Revert "fix(Menu): path error when there is only one route in children (#365)"
  src/Menu/Menu.ts
Due: prettier --write --no-verify, eslint --fix

Revert "fix(Menu): path error when there is only one route in children (#365)" (#366)
  src/Menu/Menu.ts
Due: prettier --write --no-verify, eslint --fix

fix(Menu): path error when only one route in children
  src/Menu/Menu.ts
Due: prettier --write --no-verify, eslint --fix

fix(Menu): path error when only one route in children (#367)
  src/Menu/Menu.ts
Due: prettier --write --no-verify, eslint --fix

pref(Menu): optimize performance of hasMultiChild function
  src/Menu/Menu.ts
Due: prettier --write --no-verify, eslint --fix

pref(Menu): optimize performance of hasMultiChild function (#368)
  src/Menu/Menu.ts
Due: prettier --write --no-verify, eslint --fix

feat(Tabs): record the route name
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

feat(Tabs): record the route name (#369)
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
