Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write"
}

chore: update README
  README.md
Due: prettier --write

chore: update README (#439)
  README.md
Due: prettier --write

fix(Form): validation error of ArrayForm
  src/Form/ArrayForm.ts
  src/utils/util.ts
Due: prettier --write --no-verify, eslint --fix

fix(Form): validation error of ArrayForm (#440)
  src/Form/ArrayForm.ts
  src/utils/util.ts
Due: prettier --write --no-verify, eslint --fix

fix(Form): disable reset button when submit
  src/Form/Form.ts
Due: prettier --write --no-verify, eslint --fix

fix(Form): disable reset button when submit (#442)
  src/Form/Form.ts
Due: prettier --write --no-verify, eslint --fix

docs: update contributing
  README.md
  docs/en-US/guide/contributing.md
  docs/zh-CN/guide/contributing.md
Due: prettier --write

docs: update contributing (#443)
  README.md
  docs/en-US/guide/contributing.md
  docs/zh-CN/guide/contributing.md
Due: prettier --write

chore: Releases 1.2.8
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

chore: Releases 1.2.8 (#444)
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

type: add type helper defineComponentProps
  src/Form/type.ts
  src/types/index.ts
  src/types/props.ts
  src/types/public.ts
Due: prettier --write --no-verify, eslint --fix

docs: update
  demo/Form/typescript.vue
  docs/en-US/components/Form.md
  docs/zh-CN/components/Form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

type: supplemental slot type
  demo/Form/typescript.vue
  src/Form/props.ts
  src/Form/type.ts
  src/types/props.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Form): FormComponent
  src/Form/FormComponent.ts
  src/Form/FormItem.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Form): FormComponent (#446)
  src/Form/FormComponent.ts
  src/Form/FormItem.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix

feat: add ElementProResolver from unplugin-vue-components
  src/utils/helper.ts
  src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

docs: update
  docs/en-US/guide/index.md
  docs/zh-CN/guide/index.md
Due: prettier --write

feat: add ElementProResolver from unplugin-vue-components (#447)
  docs/en-US/guide/index.md
  docs/zh-CN/guide/index.md
  src/utils/helper.ts
  src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: fix teleports error caused by formatting code
  build/prerender.ts
  docs/src/entry-server.ts
Due: prettier --write --no-verify, eslint --fix

docs: fix teleports error caused by formatting code (#448)
  build/prerender.ts
  docs/src/entry-server.ts
Due: prettier --write --no-verify, eslint --fix

type: add type helper defineComponentProps (#445)
  demo/Form/typescript.vue
  docs/en-US/components/Form.md
  docs/zh-CN/components/Form.md
  src/Form/props.ts
  src/Form/type.ts
  src/types/index.ts
  src/types/props.ts
  src/types/public.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: releases v1.2.9
  CHANGELOG.md
  package.json
Due: prettier --write

chore: releases v1.2.9 (#449)
  CHANGELOG.md
  package.json
Due: prettier --write

chore: optimize dependencies
  build/prerender.ts
  docs/src/composables/stackBlitz.ts
  docs/src/entry-server.ts
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: optimize dependencies (#454)
  build/prerender.ts
  docs/src/composables/stackBlitz.ts
  docs/src/entry-server.ts
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(Table): optimize rendering of hidden table column
  src/Table/Table.ts
  src/Table/useTable.ts
Due: prettier --write --no-verify, eslint --fix

docs: add dome
  demo/Table/hide.vue
  docs/en-US/components/Table.md
  docs/zh-CN/components/Table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(Table): optimize rendering of hidden table column (#456)
  demo/Table/hide.vue
  docs/en-US/components/Table.md
  docs/zh-CN/components/Table.md
  src/Table/Table.ts
  src/Table/useTable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): add show attribute to column
  src/Form/CollapseForm.ts
  src/Form/FormItem.ts
  src/Form/GroupForm.ts
  src/Form/StepsForm.ts
  src/Form/TabsForm.ts
  src/Form/type.ts
  src/Form/utils.ts
Due: prettier --write --no-verify, eslint --fix

test(Form): add test
  package.json
  src/AutocompleteTag/index.test.ts
  src/Form/index.test.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(Form): add demo
  demo/Form/show.vue
  docs/en-US/components/Form.md
  docs/zh-CN/components/Form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): add show attribute to column (#459)
  demo/Form/show.vue
  docs/en-US/components/Form.md
  docs/zh-CN/components/Form.md
  package.json
  src/AutocompleteTag/index.test.ts
  src/Form/CollapseForm.ts
  src/Form/FormItem.ts
  src/Form/GroupForm.ts
  src/Form/StepsForm.ts
  src/Form/TabsForm.ts
  src/Form/index.test.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/utils.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Crud): the size of button is overwritten
  src/Crud/Crud.ts
  src/Crud/index.test.ts
Due: prettier --write --no-verify, eslint --fix

fix(Crud): the size of button is overwritten (#460)
  src/Crud/Crud.ts
  src/Crud/index.test.ts
Due: prettier --write --no-verify, eslint --fix

docs: update
  docs/en-US/components/Crud.md
  docs/en-US/components/Form.md
  docs/zh-CN/components/Crud.md
  docs/zh-CN/components/Form.md
Due: prettier --write

docs: update (#461)
  docs/en-US/components/Crud.md
  docs/en-US/components/Form.md
  docs/zh-CN/components/Crud.md
  docs/zh-CN/components/Form.md
Due: prettier --write

chore: releases v1.2.10
  CHANGELOG.md
  package.json
Due: prettier --write

chore: releases v1.2.10 (#462)
  CHANGELOG.md
  package.json
Due: prettier --write
