Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write"
}

feat(Form): add indexes for form-[prop]-label slots (#391)
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/components/Form.md
  src/Form/FormItem.ts
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Checkbox): sync the props name change
  package.json
  src/Checkbox/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Checkbox): sync the props name change (#392)
  package.json
  src/Checkbox/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: optimize the build of docs
  .github/workflows/build docs.yml
  README.md
  build/prerender.ts
  build/utils.ts
  docs/src/entry-server.ts
  package.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: optimize the build of docs (#393)
  .github/workflows/build docs.yml
  README.md
  build/prerender.ts
  build/utils.ts
  docs/src/entry-server.ts
  package.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

Releases 1.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

Releases 1.2.3 (#394)
  CHANGELOG.md
  package.json
Due: prettier --write

feat(FilterRoutes): Ignore hidden routes
  src/FilterRoutes/FilterRoutes.ts
  src/FilterRoutes/index.test.ts
  src/utils/filter.ts
Due: prettier --write --no-verify, eslint --fix

fix(FilterRoutes): optimization styles
  src/styles/filter-routes.css
Due: prettier --write

feat(FilterRoutes): Ignore hidden routes (#396)
  src/FilterRoutes/FilterRoutes.ts
  src/FilterRoutes/index.test.ts
  src/utils/filter.ts
Due: prettier --write --no-verify, eslint --fix

fix(FilterRoutes): optimization styles (#397)
  src/styles/filter-routes.css
Due: prettier --write

feat(ArrayForm): add new component ArrayForm
  src/ArrayForm/ArrayForm.ts
  src/ArrayForm/ArrayFormContent.ts
  src/ArrayForm/index.ts
  src/ArrayForm/props.ts
  src/ArrayForm/useArrayForm.ts
  src/Form/FormMenu.ts
  src/components.ts
  src/styles/array-form.css
  src/styles/array-form.ts
  src/styles/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Form): use ArrayForm replace SubForm
  src/Form/Form.ts
  src/Form/FormItem.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/useForm.ts
  src/styles/form.css
  src/styles/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

demo(ArrayForm): add demo
  demo/ArrayForm/async.vue
  demo/ArrayForm/base.vue
  demo/ArrayForm/component.vue
  demo/ArrayForm/define.vue
  demo/ArrayForm/dynamically.vue
  demo/ArrayForm/label-position.vue
  demo/ArrayForm/layout.vue
  demo/ArrayForm/local.vue
  demo/ArrayForm/menu.vue
  demo/ArrayForm/nested.vue
  demo/ArrayForm/rules.vue
  demo/ArrayForm/slots.vue
  demo/ArrayForm/sub.vue
  demo/ArrayForm/typescript.vue
Due: prettier --write --no-verify, eslint --fix

docs(ArrayForm): add docs
  docs/docs/en-US/components/ArrayForm.md
  docs/docs/zh-CN/components/ArrayForm.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(ArrayForm): add test
  src/ArrayForm/index.test.ts
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix

type(Crud): fix type error
  src/Crud/Crud.ts
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix

feat(ArrayForm): add new component ArrayForm (#398)
  demo/ArrayForm/async.vue
  demo/ArrayForm/base.vue
  demo/ArrayForm/component.vue
  demo/ArrayForm/define.vue
  demo/ArrayForm/dynamically.vue
  demo/ArrayForm/label-position.vue
  demo/ArrayForm/layout.vue
  demo/ArrayForm/local.vue
  demo/ArrayForm/menu.vue
  demo/ArrayForm/nested.vue
  demo/ArrayForm/rules.vue
  demo/ArrayForm/slots.vue
  demo/ArrayForm/sub.vue
  demo/ArrayForm/typescript.vue
  docs/docs/en-US/components/ArrayForm.md
  docs/docs/zh-CN/components/ArrayForm.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
  src/ArrayForm/ArrayForm.ts
  src/ArrayForm/ArrayFormContent.ts
  src/ArrayForm/index.test.ts
  src/ArrayForm/index.ts
  src/ArrayForm/props.ts
  src/ArrayForm/useArrayForm.ts
  src/Crud/Crud.ts
  src/Crud/useCrud.ts
  src/Form/FormItem.ts
  src/Form/FormMenu.ts
  src/Form/index.test.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/useForm.ts
  src/components.ts
  src/styles/array-form.css
  src/styles/array-form.ts
  src/styles/form.css
  src/styles/index.css
  src/styles/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(ArrayForm): add the add and remove emits
  src/ArrayForm/ArrayForm.ts
  src/ArrayForm/ArrayFormContent.ts
  src/ArrayForm/index.ts
  src/ArrayForm/props.ts
  src/ArrayForm/type.ts
  src/ArrayForm/useArrayForm.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix

docs(ArrayForm): updata
  demo/ArrayForm/nested.vue
  docs/docs/en-US/components/ArrayForm.md
  docs/docs/zh-CN/components/ArrayForm.md
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(ArrayForm): add the add and remove emits (#399)
  demo/ArrayForm/nested.vue
  docs/docs/en-US/components/ArrayForm.md
  docs/docs/zh-CN/components/ArrayForm.md
  src/ArrayForm/ArrayForm.ts
  src/ArrayForm/ArrayFormContent.ts
  src/ArrayForm/index.ts
  src/ArrayForm/props.ts
  src/ArrayForm/type.ts
  src/ArrayForm/useArrayForm.ts
  src/Form/index.test.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): add the add and remove emits
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/Form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): add the add and remove emits (#400)
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/Form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(Form): extract ArrayForm component from FormItem
  src/Form/ArrayForm.ts
  src/Form/Form.ts
  src/Form/FormItem.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Form): extract FormList component from FormItem
  src/Form/ArrayForm.ts
  src/Form/Form.ts
  src/Form/FormItem.ts
  src/Form/FormList.ts
  src/Form/props.ts
  src/Form/type.ts
  src/styles/form.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(Form): add test
  src/Form/index.test.ts
  src/Form/index.ts
Due: prettier --write --no-verify, eslint --fix

docs(Form): updata
  demo/Form/array.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/Form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(Form): add type and max attributes (#402)
  demo/Form/array.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/ArrayForm.ts
  src/Form/Form.ts
  src/Form/FormItem.ts
  src/Form/FormList.ts
  src/Form/index.test.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
  src/styles/form.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(Form): add inject attributes
  src/Crud/Crud.ts
  src/Form/ArrayForm.ts
  src/Form/Form.ts
  src/Form/FormItem.ts
  src/Form/FormList.ts
  src/Form/index.test.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Form): add inject attributes (#403)
  src/Crud/Crud.ts
  src/Form/ArrayForm.ts
  src/Form/Form.ts
  src/Form/FormItem.ts
  src/Form/FormList.ts
  src/Form/index.test.ts
  src/Form/props.ts
  src/Form/type.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Form): change the name of emits
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/props.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(Form): change the name of emits (#404)
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/props.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): support config of the GroupForm
  src/Form/Form.ts
  src/Form/FormList.ts
  src/Form/GroupForm.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/styles/form.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(Form): add test
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix

docs(Form): add demo
  demo/Form/group.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): support the generation of GroupForm through config (#405)
  demo/Form/group.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/Form.ts
  src/Form/FormList.ts
  src/Form/GroupForm.ts
  src/Form/index.test.ts
  src/Form/index.ts
  src/Form/props.ts
  src/Form/type.ts
  src/styles/form.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(Form): change the attribute type=array to array
  demo/Form/array.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  src/Form/Form.ts
  src/Form/index.test.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write
