Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write"
}

feat(Crud): refactor search
  demo/Crud/base.vue
  demo/Crud/define.vue
  demo/Crud/nested.vue
  demo/Crud/search.vue
  demo/Crud/slots-dialog.vue
  demo/Crud/slots-table.vue
  demo/Crud/slots.vue
  demo/Crud/typescript.vue
  docs/en-US/components/Crud.md
  docs/src/views/Crud.vue
  docs/src/views/Layout.vue
  docs/zh-CN/components/Crud.md
  src/Crud/Crud.ts
  src/Crud/props.ts
  src/Crud/type.ts
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: updata warn message
  src/Crud/Crud.ts
Due: prettier --write --no-verify, eslint --fix

feat(Crud): refactor search (#528)
  demo/Crud/base.vue
  demo/Crud/define.vue
  demo/Crud/nested.vue
  demo/Crud/search.vue
  demo/Crud/slots-dialog.vue
  demo/Crud/slots-table.vue
  demo/Crud/slots.vue
  demo/Crud/typescript.vue
  docs/en-US/components/Crud.md
  docs/src/views/Crud.vue
  docs/src/views/Layout.vue
  docs/zh-CN/components/Crud.md
  src/Crud/Crud.ts
  src/Crud/props.ts
  src/Crud/type.ts
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Search): display error when there is too much content in the menu slot
  src/Form/Form.ts
  src/Serach/Search.ts
  src/Serach/useSearch.ts
Due: prettier --write --no-verify, eslint --fix

fix(Search): display error when there is too much content in the menu slot (#529)
  src/Form/Form.ts
  src/Serach/Search.ts
  src/Serach/useSearch.ts
Due: prettier --write --no-verify, eslint --fix

chore: updata dependencies
  demo/I18n/base.vue
  demo/Search/slots.vue
  docs/en-US/guide/index.md
  docs/index.html
  docs/src/main.ts
  docs/zh-CN/guide/index.md
  package.json
  pnpm-lock.yaml
  src/components.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: test error
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/Table/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: updata dependencies (#530)
  .eslintrc.cjs
  demo/I18n/base.vue
  demo/Search/slots.vue
  docs/en-US/guide/index.md
  docs/index.html
  docs/src/main.ts
  docs/zh-CN/guide/index.md
  package.json
  pnpm-lock.yaml
  src/Table/props.ts
  src/components.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: error when switching to multiple languages
  src/Crud/useCrud.ts
  src/Form/useForm.ts
  src/Serach/useSearch.ts
Due: prettier --write --no-verify, eslint --fix

fix: error when switching to multiple languages (#531)
  src/Crud/useCrud.ts
  src/Form/useForm.ts
  src/Serach/useSearch.ts
Due: prettier --write --no-verify, eslint --fix

chore: add breakpoint debugging config for VS Code
  .gitignore
  .vscode/launch.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: add breakpoint debugging config for VS Code (#532)
  .gitignore
  .vscode/launch.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Crud): the menu styles
  src/styles/crud.css
Due: prettier --write

fix(Crud): the menu styles (#533)
  src/styles/crud.css
Due: prettier --write

feat(Tabs): add contextmenu prop
  demo/Tabs/contextmenu.vue
  docs/en-US/components/Tabs.md
  docs/en-US/guide/i18n.md
  docs/src/lang/index.ts
  docs/src/layout/Layout.vue
  docs/src/layout/Refresh.vue
  docs/src/router/index.ts
  docs/zh-CN/components/Tabs.md
  docs/zh-CN/guide/i18n.md
  src/Tabs/Tabs.ts
  src/Tabs/index.test.ts
  src/Tabs/props.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
  src/styles/tabs.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Tabs): add contextmenu prop (#534)
  demo/Tabs/contextmenu.vue
  docs/en-US/components/Tabs.md
  docs/en-US/guide/i18n.md
  docs/src/lang/index.ts
  docs/src/layout/Layout.vue
  docs/src/layout/Refresh.vue
  docs/src/router/index.ts
  docs/zh-CN/components/Tabs.md
  docs/zh-CN/guide/i18n.md
  src/Tabs/Tabs.ts
  src/Tabs/index.test.ts
  src/Tabs/props.ts
  src/Tabs/type.ts
  src/Tabs/useTabs.ts
  src/styles/tabs.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Crud): ICrudSearchProps type error
  docs/en-US/components/InputTag.md
  docs/src/views/Table.vue
  docs/zh-CN/components/InputTag.md
  src/Crud/type.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Crud): ICrudSearchProps type error (#535)
  docs/en-US/components/InputTag.md
  docs/src/views/Table.vue
  docs/zh-CN/components/InputTag.md
  src/Crud/type.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: move vue-router to peerDependencies
  docs/en-US/guide/index.md
  docs/zh-CN/guide/index.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: move vue-router to peerDependencies (#536)
  docs/en-US/guide/index.md
  docs/zh-CN/guide/index.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: typo
  demo/ColumnSetting/crud.vue
  demo/ColumnSetting/trigger.vue
  demo/Crud/base.vue
  demo/Crud/define.vue
  demo/Crud/detail.vue
  demo/Crud/menu.vue
  demo/Crud/nested.vue
  demo/Crud/search.vue
  demo/Crud/slots-dialog.vue
  demo/Crud/slots-form.vue
  demo/Crud/slots-table.vue
  demo/Crud/slots.vue
  demo/Crud/table.vue
  demo/Crud/typescript.vue
  demo/I18n/base.vue
  docs/src/views/Crud.vue
  src/Crud/Crud.ts
  src/Crud/type.ts
  src/FilterRoutes/FilterRoutes.ts
  src/Search/Search.ts
  src/Search/index.test.ts
  src/Search/index.ts
  src/Search/props.ts
  src/Search/type.ts
  src/Search/useSearch.ts
  src/components.ts
  src/styles/crud.ts
  src/styles/index.css
  src/styles/index.ts
  src/styles/search.css
  src/styles/search.ts
  src/styles/serach.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: typo (#537)
  demo/ColumnSetting/crud.vue
  demo/ColumnSetting/trigger.vue
  demo/Crud/base.vue
  demo/Crud/define.vue
  demo/Crud/detail.vue
  demo/Crud/menu.vue
  demo/Crud/nested.vue
  demo/Crud/search.vue
  demo/Crud/slots-dialog.vue
  demo/Crud/slots-form.vue
  demo/Crud/slots-table.vue
  demo/Crud/slots.vue
  demo/Crud/table.vue
  demo/Crud/typescript.vue
  demo/I18n/base.vue
  docs/src/views/Crud.vue
  src/Crud/Crud.ts
  src/Crud/type.ts
  src/FilterRoutes/FilterRoutes.ts
  src/Search/Search.ts
  src/Search/index.test.ts
  src/Search/index.ts
  src/Search/props.ts
  src/Search/type.ts
  src/Search/useSearch.ts
  src/components.ts
  src/styles/crud.ts
  src/styles/index.css
  src/styles/index.ts
  src/styles/search.css
  src/styles/search.ts
  src/styles/serach.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add multi-language files
  build/build-locale.ts
  build/sync-types.ts
  demo/I18n/base.vue
  docs/en-US/guide/i18n.md
  docs/src/components/ProCode.vue
  docs/src/components/PwaPopup.vue
  docs/src/lang/index.ts
  docs/src/tsconfig.json
  docs/zh-CN/guide/i18n.md
  package.json
  src/Crud/useCrud.ts
  src/Form/useForm.ts
  src/Search/useSearch.ts
  src/Tabs/useTabs.ts
  src/composables/index.ts
  src/composables/locale.ts
  src/locale/en.ts
  src/locale/zh-cn.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

test: fix
  src/Crud/index.test.ts
Due: prettier --write --no-verify, eslint --fix

feat: add multi-language files (#538)
  build/build-locale.ts
  build/sync-types.ts
  demo/I18n/base.vue
  docs/en-US/guide/i18n.md
  docs/src/components/ProCode.vue
  docs/src/components/PwaPopup.vue
  docs/src/lang/index.ts
  docs/src/tsconfig.json
  docs/zh-CN/guide/i18n.md
  package.json
  src/Crud/index.test.ts
  src/Crud/useCrud.ts
  src/Form/useForm.ts
  src/Search/useSearch.ts
  src/Tabs/useTabs.ts
  src/composables/index.ts
  src/composables/locale.ts
  src/locale/en.ts
  src/locale/zh-cn.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

types: optimize the export type of components
  src/AutocompleteTag/index.ts
  src/Breadcrumb/index.ts
  src/Card/index.ts
  src/Checkbox/index.ts
  src/CheckboxButton/index.ts
  src/ColumnSetting/index.ts
  src/Crud/index.ts
  src/Descriptions/index.ts
  src/FilterRoutes/index.ts
  src/Form/index.ts
  src/InputTag/index.ts
  src/Layout/index.ts
  src/Link/index.ts
  src/Menu/index.ts
  src/Radio/index.ts
  src/RadioButton/index.ts
  src/Search/index.ts
  src/Select/index.ts
  src/Table/index.ts
  src/Tabs/index.ts
  src/TreeSelect/index.ts
  src/components.ts
Due: prettier --write --no-verify, eslint --fix

types: optimize the export type of components (#539)
  src/AutocompleteTag/index.ts
  src/Breadcrumb/index.ts
  src/Card/index.ts
  src/Checkbox/index.ts
  src/CheckboxButton/index.ts
  src/ColumnSetting/index.ts
  src/Crud/index.ts
  src/Descriptions/index.ts
  src/FilterRoutes/index.ts
  src/Form/index.ts
  src/InputTag/index.ts
  src/Layout/index.ts
  src/Link/index.ts
  src/Menu/index.ts
  src/Radio/index.ts
  src/RadioButton/index.ts
  src/Search/index.ts
  src/Select/index.ts
  src/Table/index.ts
  src/Tabs/index.ts
  src/TreeSelect/index.ts
  src/components.ts
Due: prettier --write --no-verify, eslint --fix

chore: add exports for locale and styles
  package.json
Due: prettier --write

chore: add exports for locale and styles (#541)
  package.json
Due: prettier --write

pref: add key fro list VNode
  src/Breadcrumb/Breadcrumb.ts
  src/Checkbox/Checkbox.ts
  src/Descriptions/Descriptions.ts
  src/Form/ArrayForm.ts
  src/Form/CollapseForm.ts
  src/Form/FormList.ts
  src/Form/GroupForm.ts
  src/Form/StepsForm.ts
  src/Form/TabsForm.ts
  src/InputTag/InputTag.ts
  src/Menu/Menu.ts
  src/Radio/Radio.ts
  src/Select/Select.ts
  src/Table/Table.ts
  src/Table/TableItem.ts
  src/TreeSelect/TreeSelect.ts
Due: prettier --write --no-verify, eslint --fix

pref: add key fro list VNode (#542)
  src/Breadcrumb/Breadcrumb.ts
  src/Checkbox/Checkbox.ts
  src/Descriptions/Descriptions.ts
  src/Form/ArrayForm.ts
  src/Form/CollapseForm.ts
  src/Form/FormList.ts
  src/Form/GroupForm.ts
  src/Form/StepsForm.ts
  src/Form/TabsForm.ts
  src/InputTag/InputTag.ts
  src/Menu/Menu.ts
  src/Radio/Radio.ts
  src/Select/Select.ts
  src/Table/Table.ts
  src/Table/TableItem.ts
  src/TreeSelect/TreeSelect.ts
Due: prettier --write --no-verify, eslint --fix

docs: updata
  docs/en-US/components/AutocompleteTag.md
  docs/en-US/components/Checkbox.md
  docs/en-US/components/ColumnSetting.md
  docs/en-US/components/Crud.md
  docs/en-US/components/Descriptions.md
  docs/en-US/components/FilterRoutes.md
  docs/en-US/components/Form.md
  docs/en-US/components/InputTag.md
  docs/en-US/components/Layout.md
  docs/en-US/components/Menu.md
  docs/en-US/components/Radio.md
  docs/en-US/components/Search.md
  docs/en-US/components/Select.md
  docs/en-US/components/Table.md
  docs/en-US/components/Tabs.md
  docs/en-US/components/TreeSelect.md
  docs/zh-CN/components/AutocompleteTag.md
  docs/zh-CN/components/Checkbox.md
  docs/zh-CN/components/ColumnSetting.md
  docs/zh-CN/components/Crud.md
  docs/zh-CN/components/Descriptions.md
  docs/zh-CN/components/FilterRoutes.md
  docs/zh-CN/components/Form.md
  docs/zh-CN/components/InputTag.md
  docs/zh-CN/components/Layout.md
  docs/zh-CN/components/Menu.md
  docs/zh-CN/components/Radio.md
  docs/zh-CN/components/Search.md
  docs/zh-CN/components/Select.md
  docs/zh-CN/components/Table.md
  docs/zh-CN/components/Tabs.md
  docs/zh-CN/components/TreeSelect.md
Due: prettier --write

docs: updata (#543)
  docs/en-US/components/AutocompleteTag.md
  docs/en-US/components/Checkbox.md
  docs/en-US/components/ColumnSetting.md
  docs/en-US/components/Crud.md
  docs/en-US/components/Descriptions.md
  docs/en-US/components/FilterRoutes.md
  docs/en-US/components/Form.md
  docs/en-US/components/InputTag.md
  docs/en-US/components/Layout.md
  docs/en-US/components/Menu.md
  docs/en-US/components/Radio.md
  docs/en-US/components/Search.md
  docs/en-US/components/Select.md
  docs/en-US/components/Table.md
  docs/en-US/components/Tabs.md
  docs/en-US/components/TreeSelect.md
  docs/zh-CN/components/AutocompleteTag.md
  docs/zh-CN/components/Checkbox.md
  docs/zh-CN/components/ColumnSetting.md
  docs/zh-CN/components/Crud.md
  docs/zh-CN/components/Descriptions.md
  docs/zh-CN/components/FilterRoutes.md
  docs/zh-CN/components/Form.md
  docs/zh-CN/components/InputTag.md
  docs/zh-CN/components/Layout.md
  docs/zh-CN/components/Menu.md
  docs/zh-CN/components/Radio.md
  docs/zh-CN/components/Search.md
  docs/zh-CN/components/Select.md
  docs/zh-CN/components/Table.md
  docs/zh-CN/components/Tabs.md
  docs/zh-CN/components/TreeSelect.md
Due: prettier --write

feat(Form): add models attribute
  demo/Form/models.vue
  docs/en-US/components/Form.md
  docs/en-US/components/Search.md
  docs/zh-CN/components/Form.md
  docs/zh-CN/components/Search.md
  src/Form/FormComponent.ts
  src/Form/FormItem.ts
  src/Form/index.test.ts
  src/Form/props.ts
  src/Form/type.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: optimize the compatibility of modelKey attribute
  src/Form/FormItem.ts
  src/Form/type.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): add models attribute (#544)
  demo/Form/models.vue
  docs/en-US/components/Form.md
  docs/en-US/components/Search.md
  docs/zh-CN/components/Form.md
  docs/zh-CN/components/Search.md
  src/Form/FormComponent.ts
  src/Form/FormItem.ts
  src/Form/index.test.ts
  src/Form/props.ts
  src/Form/type.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: optimize the exports of
  package.json
Due: prettier --write

chore: optimize the exports of (#545)
  package.json
Due: prettier --write
