Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

docs: optimize SSG about teleports
  build/prerender.ts
  docs/index.html
  docs/src/entry-server.ts
  docs/src/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: optimize SSG about teleports (#419)
  build/prerender.ts
  docs/index.html
  docs/src/entry-server.ts
  docs/src/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: updata changelog
  CHANGELOG.md
  package.json
Due: prettier --write

Releases 1.2.5 (#421)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: build error
  build/build-helper.ts
  build/prerender.ts
Due: prettier --write --no-verify, eslint --fix

fix: build error (#422)
  build/build-helper.ts
  build/prerender.ts
Due: prettier --write --no-verify, eslint --fix

chore: updata changelog
  CHANGELOG.md
Due: prettier --write

Releases 1.2.6 (#423)
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Form): solving the attrs
  src/Form/GroupForm.ts
  src/Form/StepsForm.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): solving the attrs (#424)
  src/Form/GroupForm.ts
  src/Form/StepsForm.ts
Due: prettier --write --no-verify, eslint --fix

fix(Form): the style link error
  src/styles/form.ts
Due: prettier --write --no-verify, eslint --fix

fix(Form): the style link error (#426)
  src/styles/form.ts
Due: prettier --write --no-verify, eslint --fix

docs: updata
  docs/en-US/guide/index.md
  docs/zh-CN/guide/index.md
Due: prettier --write

docs: updata (#427)
  docs/en-US/guide/index.md
  docs/zh-CN/guide/index.md
Due: prettier --write

docs: optimize SSG about teleports
  docs/index.html
  docs/src/entry-server.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: optimize SSG about teleports (#428)
  docs/index.html
  docs/src/entry-server.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

Releases 1.2.7
  CHANGELOG.md
  package.json
Due: prettier --write

Releases 1.2.7 (#429)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: build Error Nodejs^15 Cannot find module 'node:path'
  README.md
Due: prettier --write

chore: add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

fix（README）: Project dependent nodejs 16+
  README.md
  package.json
Due: prettier --write

Apply suggestions from code review
  README.md
Due: prettier --write

chore: add CODE_OF_CONDUCT.md (#432)
  CODE_OF_CONDUCT.md
Due: prettier --write

chore: add issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: add issue template (#433)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: mv CODE_OF_CONDUCT
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

chore: mv CODE_OF_CONDUCT (#435)
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

fix: build Error Nodejs^15 Cannot find module 'node:path' (#431)
  README.md
  package.json
Due: prettier --write

docs: add Contributing.md
  docs/en-US/guide/contributing.md
  docs/en-US/guide/introduction.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
  docs/zh-CN/guide/contributing.md
  docs/zh-CN/guide/introduction.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: add Contributing.md (#436)
  docs/en-US/guide/contributing.md
  docs/en-US/guide/introduction.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
  docs/zh-CN/guide/contributing.md
  docs/zh-CN/guide/introduction.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: add pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

chore: add pull_request_template.md (#437)
  .github/pull_request_template.md
Due: prettier --write

type(Form): optimization type
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix

type(Form): optimization type (#438)
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
