Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

workflows: optimize workflows (#329)
  .eslintrc.js
  .github/workflows/build docs.yml
  .github/workflows/test.yml
  .lintstagedrc
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(InputTag): remove the selected state of Tag
  src/InputTag/useInputTag.ts
  src/styles/input-tag.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(InputTag): remove the selected state of Tag (#330)
  src/InputTag/useInputTag.ts
  src/styles/input-tag.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update dependencies
  package.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update Changelog
  CHANGELOG.md
Due: prettier --write

Releases 1.1.6 (#331)
  CHANGELOG.md
  package.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Layout): pro-container width error
  src/styles/layout.css
Due: prettier --write

type: fix type error
  package.json
  src/composables/router.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Layout): pro-container width error (#336)
  package.json
  src/composables/router.ts
  src/styles/layout.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(Crud): prevent click event
  src/Crud/Crud.ts
  src/Crud/index.test.ts
Due: prettier --write --no-verify, eslint --fix

fix(Crud): prevent click event (#337)
  src/Crud/Crud.ts
  src/Crud/index.test.ts
Due: prettier --write --no-verify, eslint --fix

docs: optimized Code component A11y support
  demo/Link/base.vue
  docs/src/components/ProCode.vue
  docs/src/styles/markdown.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: optimized Code component A11y support (#338)
  demo/Link/base.vue
  docs/src/components/ProCode.vue
  docs/src/styles/markdown.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(ColumnSetting): sync the props change of ElTree
  docs/docs/en-US/components/ColumnSetting.md
  docs/docs/zh-CN/components/ColumnSetting.md
  src/ColumnSetting/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(ColumnSetting): sync the props change of ElTree (#340)
  docs/docs/en-US/components/ColumnSetting.md
  docs/docs/zh-CN/components/ColumnSetting.md
  src/ColumnSetting/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(ColumnSetting): add the default slot
  package.json
  src/ColumnSetting/ColumnSetting.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(ColumnSetting): update
  demo/ColumnSetting/base.vue
  demo/ColumnSetting/slots.vue
  docs/docs/en-US/components/ColumnSetting.md
  docs/docs/zh-CN/components/ColumnSetting.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(ColumnSetting): add slots test
  src/ColumnSetting/index.test.ts
Due: prettier --write --no-verify, eslint --fix

feat(ColumnSetting): add the default slot (#341)
  demo/ColumnSetting/base.vue
  demo/ColumnSetting/slots.vue
  docs/docs/en-US/components/ColumnSetting.md
  docs/docs/zh-CN/components/ColumnSetting.md
  package.json
  src/ColumnSetting/ColumnSetting.ts
  src/ColumnSetting/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Select): sync the props change of Select
  docs/docs/en-US/components/Select.md
  docs/docs/en-US/components/TreeSelect.md
  docs/docs/zh-CN/components/Select.md
  docs/docs/zh-CN/components/TreeSelect.md
  src/Select/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Select): sync the props change of ElSelect (#342)
  docs/docs/en-US/components/Select.md
  docs/docs/en-US/components/TreeSelect.md
  docs/docs/zh-CN/components/Select.md
  docs/docs/zh-CN/components/TreeSelect.md
  src/Select/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Table): sync the props change of ElTable
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/components/Table.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/components/Table.md
  src/Table/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(Table): sync the props change of ElTable (#343)
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/components/Table.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/components/Table.md
  src/Table/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Menu): remove Link components
  src/Menu/Menu.ts
  src/Menu/index.test.ts
  src/Menu/props.ts
  src/styles/menu.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(Layout): fix test error
  src/Layout/index.test.ts
Due: prettier --write --no-verify, eslint --fix

refacto(Menu): remove Link components (#344)
  src/Layout/index.test.ts
  src/Menu/Menu.ts
  src/Menu/index.test.ts
  src/Menu/props.ts
  src/styles/menu.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(Menu): add custom color demo
  demo/Menu/color.vue
  demo/Menu/mode.vue
  demo/Menu/slots.vue
  docs/docs/en-US/components/Layout.md
  docs/docs/en-US/components/Menu.md
  docs/docs/zh-CN/components/Layout.md
  docs/docs/zh-CN/components/Menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(Menu): add custom color demo (#345)
  demo/Menu/color.vue
  demo/Menu/mode.vue
  demo/Menu/slots.vue
  docs/docs/en-US/components/Layout.md
  docs/docs/en-US/components/Menu.md
  docs/docs/zh-CN/components/Layout.md
  docs/docs/zh-CN/components/Menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(Menu): add custom router demo
  demo/Menu/router.vue
  docs/docs/en-US/components/Menu.md
  docs/docs/zh-CN/components/Menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(Menu): add custom router demo (#346)
  demo/Menu/router.vue
  docs/docs/en-US/components/Menu.md
  docs/docs/zh-CN/components/Menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Layout): styles
  src/styles/layout.css
  src/styles/vars.css
Due: prettier --write

docs(Layout): add custom color demo
  demo/Layout/color.vue
  docs/docs/en-US/components/Layout.md
  docs/docs/zh-CN/components/Layout.md
  docs/src/components/ProCode.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Layout): styles (#347)
  demo/Layout/color.vue
  docs/docs/en-US/components/Layout.md
  docs/docs/zh-CN/components/Layout.md
  docs/src/components/ProCode.vue
  src/styles/layout.css
  src/styles/vars.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(Layout): add custom router demo
  demo/Layout/router.vue
  docs/docs/en-US/components/Layout.md
  docs/docs/zh-CN/components/Layout.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(Layout): add custom router demo (#348)
  demo/Layout/router.vue
  docs/docs/en-US/components/Layout.md
  docs/docs/zh-CN/components/Layout.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Form): modify the name of the slot
  src/Form/FormItem.ts
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix

docs(Form): update
  demo/Form/slots.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  docs/src/components/ProCode.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

refacto(Form): modify the name of the slot (#349)
  demo/Form/slots.vue
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Form.md
  docs/src/components/ProCode.vue
  src/Form/FormItem.ts
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: sync props change from ElementPlus
  docs/docs/en-US/components/Checkbox.md
  docs/docs/en-US/components/InputTag.md
  docs/docs/en-US/components/Radio.md
  docs/docs/zh-CN/components/Checkbox.md
  docs/docs/zh-CN/components/InputTag.md
  docs/docs/zh-CN/components/Radio.md
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
