Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write"
}

feat: sync label prop to value (#504)
  package.json
  pnpm-lock.yaml
  src/Checkbox/index.test.ts
  src/CheckboxButton/index.test.ts
  src/Crud/index.test.ts
  src/Form/index.test.ts
  src/Layout/index.test.ts
  src/Menu/index.test.ts
  src/Radio/Radio.ts
  src/Radio/index.test.ts
  src/RadioButton/index.test.ts
  src/Select/index.test.ts
  src/Table/index.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(Select): remove the slot parameter data
  src/Select/Select.ts
  src/TreeSelect/TreeSelect.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Select): remove the slot parameter data (#505)
  src/Select/Select.ts
  src/TreeSelect/TreeSelect.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Table): remove the deprecated slots
  src/Table/TableItem.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Table): remove the deprecated slots (#506)
  src/Table/TableItem.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Form): remove the deprecated slots
  demo/Form/label-position.vue
  src/Form/FormItem.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Form): remove the deprecated slots (#507)
  demo/Form/label-position.vue
  src/Form/FormItem.ts
  src/Form/useForm.ts
Due: prettier --write --no-verify, eslint --fix

feat(Checkbox): sync label prop to value
  src/Checkbox/Checkbox.ts
Due: prettier --write --no-verify, eslint --fix

feat(Checkbox): sync label prop to value (#508)
  src/Checkbox/Checkbox.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Crud): remove the deprecated slots
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Crud): remove the deprecated slots (#509)
  src/Crud/useCrud.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Descriptions): remove the deprecated slots
  src/Descriptions/Descriptions.ts
Due: prettier --write --no-verify, eslint --fix

refactor(Descriptions): remove the deprecated slots (#510)
  src/Descriptions/Descriptions.ts
Due: prettier --write --no-verify, eslint --fix

refactor: remove the deprecated function
  src/composables/breakpoint.ts
  src/utils/util.ts
Due: prettier --write --no-verify, eslint --fix

test: fix test error
  src/utils/index.test.ts
Due: prettier --write --no-verify, eslint --fix

refactor: remove the deprecated function (#511)
  src/composables/breakpoint.ts
  src/utils/index.test.ts
  src/utils/util.ts
Due: prettier --write --no-verify, eslint --fix

docs: typo
  docs/zh-CN/components/Layout.md
Due: prettier --write

docs: typo (#512)
  docs/zh-CN/components/Layout.md
Due: prettier --write

chore: releases v1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: releases v1.3.0 (#513)
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: use useSplitReactive to replace reactiveOmit and reactivePick
  src/Checkbox/Checkbox.ts
  src/Checkbox/props.ts
  src/ColumnSetting/ColumnSetting.ts
  src/ColumnSetting/props.ts
  src/Crud/Crud.ts
  src/Descriptions/Descriptions.ts
  src/Form/Form.ts
  src/Layout/Layout.ts
  src/Layout/props.ts
  src/composables/public.ts
Due: prettier --write --no-verify, eslint --fix

refactor: use useSplitReactive to replace reactiveOmit and reactivePick
  src/AutocompleteTag/AutocompleteTag.ts
  src/FilterRoutes/FilterRoutes.ts
  src/FilterRoutes/props.ts
  src/InputTag/InputTag.ts
  src/InputTag/props.ts
  src/InputTag/useInputTag.ts
  src/Radio/Radio.ts
  src/Radio/props.ts
  src/Select/Select.ts
  src/Select/props.ts
  src/Table/Table.ts
  src/TreeSelect/TreeSelect.ts
  src/TreeSelect/props.ts
Due: prettier --write --no-verify, eslint --fix

test: add test
  src/Table/Table.ts
  src/Table/props.ts
  src/composables/index.test.ts
Due: prettier --write --no-verify, eslint --fix

fix: key error
  src/Descriptions/Descriptions.ts
  src/Table/props.ts
  src/composables/public.ts
Due: prettier --write --no-verify, eslint --fix

type: fix
  src/InputTag/InputTag.ts
Due: prettier --write --no-verify, eslint --fix

refactor: use useSplitReactive to replace reactiveOmit and reactivePick (#515)
  src/AutocompleteTag/AutocompleteTag.ts
  src/Checkbox/Checkbox.ts
  src/Checkbox/props.ts
  src/ColumnSetting/ColumnSetting.ts
  src/ColumnSetting/props.ts
  src/Crud/Crud.ts
  src/Descriptions/Descriptions.ts
  src/FilterRoutes/FilterRoutes.ts
  src/FilterRoutes/props.ts
  src/Form/Form.ts
  src/InputTag/InputTag.ts
  src/InputTag/props.ts
  src/InputTag/useInputTag.ts
  src/Layout/Layout.ts
  src/Layout/props.ts
  src/Radio/Radio.ts
  src/Radio/props.ts
  src/Select/Select.ts
  src/Select/props.ts
  src/Table/Table.ts
  src/Table/props.ts
  src/TreeSelect/TreeSelect.ts
  src/TreeSelect/props.ts
  src/composables/index.test.ts
  src/composables/public.ts
Due: prettier --write --no-verify, eslint --fix

fix: warn error about prevIcon and nextIcon
  src/Table/props.ts
Due: prettier --write --no-verify, eslint --fix

fix: warn error about prevIcon and nextIcon (#516)
  src/Table/props.ts
Due: prettier --write --no-verify, eslint --fix

chore: releases v1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: releases v1.3.1 (#517)
  CHANGELOG.md
  package.json
Due: prettier --write

ci: updata dependencies of workflows
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test-build.yml
  .github/workflows/test.yml
Due: none

ci: updata dependencies of workflows (#519)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test-build.yml
  .github/workflows/test.yml
Due: none

feat(Search): add new components Search
  docs/src/views/Layout.vue
  src/Serach/Search.ts
  src/Serach/index.ts
  src/Serach/props.ts
  src/Serach/type.ts
  src/Serach/useSearch.ts
  src/components.ts
  src/styles/serach.css
  src/styles/serach.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: init docs
  demo/Search/base.vue
  demo/Search/define.vue
  demo/Search/typescript.vue
  docs/en-US/components/Search.md
  docs/en-US/guide/i18n.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
  docs/zh-CN/components/Search.md
  docs/zh-CN/guide/i18n.md
  src/Serach/Search.ts
  src/Serach/useSearch.ts
  src/styles/index.css
  src/styles/index.ts
  src/styles/serach.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

test: add test
  .lintstagedrc
  demo/Search/base.vue
  demo/Search/define.vue
  demo/Search/slots.vue
  demo/Search/typescript.vue
  docs/en-US/components/Search.md
  docs/src/lang/index.ts
  docs/zh-CN/components/Search.md
  src/Serach/Search.ts
  src/Serach/index.test.ts
  src/Serach/useSearch.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

test: fix
  src/Serach/index.test.ts
Due: prettier --write --no-verify, eslint --fix

feat(Search): add new components Search (#527)
  .lintstagedrc
  demo/Search/base.vue
  demo/Search/define.vue
  demo/Search/slots.vue
  demo/Search/typescript.vue
  docs/en-US/components/Search.md
  docs/en-US/guide/i18n.md
  docs/src/lang/index.ts
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
  docs/src/views/Layout.vue
  docs/zh-CN/components/Search.md
  docs/zh-CN/guide/i18n.md
  src/Serach/Search.ts
  src/Serach/index.test.ts
  src/Serach/index.ts
  src/Serach/props.ts
  src/Serach/type.ts
  src/Serach/useSearch.ts
  src/components.ts
  src/styles/index.css
  src/styles/index.ts
  src/styles/serach.css
  src/styles/serach.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write
