Repository tolking/element-pro-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

chore: add attribute enum autosuggestion for web-types
  build/build-helper.ts
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/components/Table.md
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: add attribute enum autosuggestion for web-types
  build/build-helper.ts
  docs/docs/en-US/components/Breadcrumb.md
  docs/docs/en-US/components/Card.md
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/components/Descriptions.md
  docs/docs/en-US/components/Link.md
  docs/docs/en-US/components/Select.md
  docs/docs/en-US/components/Table.md
  docs/docs/en-US/components/TreeSelect.md
  docs/docs/zh-CN/components/Card.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/components/Descriptions.md
  docs/docs/zh-CN/components/Link.md
  docs/docs/zh-CN/components/Select.md
  docs/docs/zh-CN/components/Table.md
  docs/docs/zh-CN/components/TreeSelect.md
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: type error
  src/Checkbox/Checkbox.ts
  src/Form/FormComponent.ts
  src/InputTag/InputTag.ts
  src/Radio/Radio.ts
Due: prettier --write --no-verify, eslint --fix

chore: add attribute enum autosuggestion for web-types (#373)
  build/build-helper.ts
  docs/docs/en-US/components/Breadcrumb.md
  docs/docs/en-US/components/Card.md
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/components/Descriptions.md
  docs/docs/en-US/components/Link.md
  docs/docs/en-US/components/Select.md
  docs/docs/en-US/components/Table.md
  docs/docs/en-US/components/TreeSelect.md
  docs/docs/zh-CN/components/Card.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/components/Descriptions.md
  docs/docs/zh-CN/components/Link.md
  docs/docs/zh-CN/components/Select.md
  docs/docs/zh-CN/components/Table.md
  docs/docs/zh-CN/components/TreeSelect.md
  package.json
  src/Checkbox/Checkbox.ts
  src/Form/FormComponent.ts
  src/InputTag/InputTag.ts
  src/Radio/Radio.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: optimization demo
  demo/Tabs/before-add.vue
Due: prettier --write --no-verify, eslint --fix

fix(TreeSelect): lint error
  src/TreeSelect/TreeSelect.ts
  src/TreeSelect/useTreeSelect.ts
Due: prettier --write --no-verify, eslint --fix

fix(TreeSelect): lint error (#377)
  src/TreeSelect/TreeSelect.ts
  src/TreeSelect/useTreeSelect.ts
Due: prettier --write --no-verify, eslint --fix

docs: optimization demo (#376)
  demo/Tabs/before-add.vue
Due: prettier --write --no-verify, eslint --fix

refacto(InputTag): optimization tag styles
  src/styles/input-tag.css
Due: prettier --write

refacto(InputTag): optimization tag styles (#378)
  src/styles/input-tag.css
Due: prettier --write

docs: fix the default renderer being overridden
  build/plugin/external-link-icon.ts
Due: prettier --write --no-verify, eslint --fix

docs: fix the default renderer being overridden (#380)
  build/plugin/external-link-icon.ts
Due: prettier --write --no-verify, eslint --fix

docs: split AutocompleteTag component
  docs/docs/en-US/components/AutocompleteTag.md
  docs/docs/en-US/components/InputTag.md
  docs/docs/zh-CN/components/AutocompleteTag.md
  docs/docs/zh-CN/components/InputTag.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: split AutocompleteTag component (#381)
  docs/docs/en-US/components/AutocompleteTag.md
  docs/docs/en-US/components/InputTag.md
  docs/docs/zh-CN/components/AutocompleteTag.md
  docs/docs/zh-CN/components/InputTag.md
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: fix the class name being added when it is not link
  build/plugin/external-link-icon.ts
Due: prettier --write --no-verify, eslint --fix

docs: fix the class name being added when it is not link (#382)
  build/plugin/external-link-icon.ts
Due: prettier --write --no-verify, eslint --fix

chore: updata changelog
  CHANGELOG.md
  package.json
Due: prettier --write

Releases 1.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix(demo):nodejs^14 is not supported replaceAll
  build/plugin/demo.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix

Update vite.config.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix

fix(demo): nodejs 14 is not supported replaceAll (#384)
  build/plugin/demo.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix

chore: updata dependencies
  docs/docs/en-US/components/Crud.md
  docs/docs/zh-CN/components/Crud.md
  package.json
  src/Crud/Crud.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: updata dependencies
  package.json
Due: prettier --write

chore: updata dependencies (#385)
  docs/docs/en-US/components/Crud.md
  docs/docs/zh-CN/components/Crud.md
  package.json
  src/Crud/Crud.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(ColumnSetting): the CheckedKeys loses reactive
  src/ColumnSetting/ColumnSetting.ts
Due: prettier --write --no-verify, eslint --fix

fix(ColumnSetting): the CheckedKeys loses reactive (#386)
  src/ColumnSetting/ColumnSetting.ts
Due: prettier --write --no-verify, eslint --fix

feat(FilterRoutes): add new components ProFilterRoutes
  src/FilterRoutes/FilterRoutes.ts
  src/FilterRoutes/index.test.ts
  src/FilterRoutes/index.ts
  src/FilterRoutes/props.ts
  src/components.ts
  src/styles/filter-routes.css
  src/styles/filter-routes.ts
  src/styles/index.css
  src/styles/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

demo(FilterRoutes): add demo
  demo/FilterRoutes/base.vue
  demo/FilterRoutes/routes.vue
  demo/FilterRoutes/slots.vue
  src/styles/filter-routes.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(FilterRoutes): add docs
  docs/docs/en-US/components/FilterRoutes.md
  docs/docs/zh-CN/components/FilterRoutes.md
  docs/src/composables/stackBlitz.ts
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(FilterRoutes): add new components ProFilterRoutes (#387)
  demo/FilterRoutes/base.vue
  demo/FilterRoutes/routes.vue
  demo/FilterRoutes/slots.vue
  docs/docs/en-US/components/FilterRoutes.md
  docs/docs/zh-CN/components/FilterRoutes.md
  docs/src/composables/stackBlitz.ts
  docs/src/router/en-US.ts
  docs/src/router/zh-CN.ts
  src/FilterRoutes/FilterRoutes.ts
  src/FilterRoutes/index.test.ts
  src/FilterRoutes/index.ts
  src/FilterRoutes/props.ts
  src/components.ts
  src/styles/filter-routes.css
  src/styles/filter-routes.ts
  src/styles/index.css
  src/styles/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: use lodash-unified replace lodash
  build/build-lib.ts
  package.json
  src/utils/index.ts
  src/utils/util.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: use lodash-unified replace lodash (#388)
  build/build-lib.ts
  package.json
  src/utils/index.ts
  src/utils/util.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

type: simplified the DeepPath type
  src/types/public.ts
Due: prettier --write --no-verify, eslint --fix

type: simplified the DeepPath type (#389)
  src/types/public.ts
Due: prettier --write --no-verify, eslint --fix

feat(Form): add indexes for form-[prop] slots
  src/Form/FormItem.ts
  src/Form/index.test.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix

docs: updata
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/components/Form.md
Due: prettier --write

feat(Form): add indexes for form-[prop] slots (#390)
  docs/docs/en-US/components/Crud.md
  docs/docs/en-US/components/Form.md
  docs/docs/zh-CN/components/Crud.md
  docs/docs/zh-CN/components/Form.md
  src/Form/FormItem.ts
  src/Form/index.test.ts
  src/Form/props.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(Form): add indexes for form-[prop]-label slots
  src/Form/FormItem.ts
  src/Form/index.test.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
